
Testing-Project-Server/Testing-Project-Server/obj/Testing-Project-Server.csproj.nuget.g.targets
Testing-Project-Server/Testing-Project-Server/obj/Testing-Project-Server.csproj.nuget.g.props
Testing-Project-Server/Testing-Project-Server/obj/Testing-Project-Server.csproj.nuget.dgspec.json
Testing-Project-Server/Testing-Project-Server/obj/project.nuget.cache
Testing-Project-Server/Testing-Project-Server/obj/project.assets.json
Testing-Project-Server/Testing-Project-Server/obj/Debug/net6.0/Testing-Project-Server.GlobalUsings.g.cs
Testing-Project-Server/Testing-Project-Server/obj/Debug/net6.0/Testing-Project-Server.GeneratedMSBuildEditorConfig.editorconfig
Testing-Project-Server/Testing-Project-Server/obj/Debug/net6.0/Testing-Project-Server.csproj.AssemblyReference.cache
Testing-Project-Server/Testing-Project-Server/obj/Debug/net6.0/Testing-Project-Server.assets.cache
Testing-Project-Server/Testing-Project-Server/obj/Debug/net6.0/Testing-Project-Server.AssemblyInfoInputs.cache
Testing-Project-Server/Testing-Project-Server/obj/Debug/net6.0/Testing-Project-Server.AssemblyInfo.cs
Testing-Project-Server/Testing-Project-Server/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
Testing-Project-Server/.vs/ProjectEvaluation/testing-project-server.metadata.v2
Testing-Project-Server/.vs/ProjectEvaluation/testing-project-server.projects.v2
Testing-Project-Server/.vs/Testing-Project-Server/v17/.suo
ConsoleApp1/ConsoleApp1/obj/project.nuget.cache
ConsoleApp1/ConsoleApp1/obj/project.assets.json
ConsoleApp1/ConsoleApp1/obj/Debug/net6.0/refint/ConsoleApp1.dll
ConsoleApp1/ConsoleApp1/obj/Debug/net6.0/ref/ConsoleApp1.dll
ConsoleApp1/ConsoleApp1/obj/Debug/net6.0/ConsoleApp1.pdb
ConsoleApp1/ConsoleApp1/obj/Debug/net6.0/ConsoleApp1.GlobalUsings.g.cs
ConsoleApp1/ConsoleApp1/obj/Debug/net6.0/ConsoleApp1.genruntimeconfig.cache
ConsoleApp1/ConsoleApp1/obj/Debug/net6.0/ConsoleApp1.GeneratedMSBuildEditorConfig.editorconfig
ConsoleApp1/ConsoleApp1/obj/Debug/net6.0/ConsoleApp1.dll
ConsoleApp1/ConsoleApp1/obj/Debug/net6.0/ConsoleApp1.csproj.FileListAbsolute.txt
ConsoleApp1/ConsoleApp1/obj/Debug/net6.0/ConsoleApp1.csproj.CoreCompileInputs.cache
ConsoleApp1/ConsoleApp1/obj/Debug/net6.0/ConsoleApp1.csproj.BuildWithSkipAnalyzers
ConsoleApp1/ConsoleApp1/obj/Debug/net6.0/ConsoleApp1.csproj.AssemblyReference.cache
ConsoleApp1/ConsoleApp1/obj/Debug/net6.0/ConsoleApp1.assets.cache
ConsoleApp1/ConsoleApp1/obj/Debug/net6.0/ConsoleApp1.AssemblyInfoInputs.cache
ConsoleApp1/ConsoleApp1/obj/Debug/net6.0/ConsoleApp1.AssemblyInfo.cs
ConsoleApp1/ConsoleApp1/obj/Debug/net6.0/apphost.exe
ConsoleApp1/ConsoleApp1/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
ConsoleApp1/ConsoleApp1/obj/ConsoleApp1.csproj.nuget.g.targets
ConsoleApp1/ConsoleApp1/obj/ConsoleApp1.csproj.nuget.g.props
ConsoleApp1/ConsoleApp1/obj/ConsoleApp1.csproj.nuget.dgspec.json
ConsoleApp1/ConsoleApp1/bin/Debug/net6.0/ConsoleApp1.runtimeconfig.json
ConsoleApp1/ConsoleApp1/bin/Debug/net6.0/ConsoleApp1.pdb
ConsoleApp1/ConsoleApp1/bin/Debug/net6.0/ConsoleApp1.exe
ConsoleApp1/ConsoleApp1/bin/Debug/net6.0/ConsoleApp1.dll
ConsoleApp1/ConsoleApp1/bin/Debug/net6.0/ConsoleApp1.deps.json
ConsoleApp1/.vs/ProjectEvaluation/consoleapp1.projects.v2
ConsoleApp1/.vs/ProjectEvaluation/consoleapp1.metadata.v2
ConsoleApp1/.vs/ConsoleApp1/v17/.suo
ConsoleApp1/.vs/ConsoleApp1/DesignTimeBuild/.dtbcache.v2
